.navbar .active{
   color: #c8d41ffb!important;
}
.bg-primary {
    background: linear-gradient(to right, #0d30d3, #3e01a1);
}
button.logout {
    background: none;
    border: none;
    color: white;
    margin-top: 8px;
    display: block;
    margin-left: 30px;
}